<details data-key="balances">
    <summary>
        <span>💰 Balances & Return Rates</span>
        <span class="chev">▼</span>
    </summary>
    <div class="content">
        <div class="grid-2">
            <labeled-input 
                input-id="startingSavingsBalance" 
                label="Combined Savings balance" 
                help="startingSavingsBalance"
                step="1000" value="80000">
            </labeled-input>
            <labeled-input 
                input-id="savingsReturnRate" 
                label="Savings return rate (APY %)" 
                help="savingsReturnRate"
                step="0.1" value="5.5">
            </labeled-input>
        </div>
        <div class="grid-2">
            <labeled-input 
                input-id="subject401kStartingBalance" 
                label="Subject (401k/Trad IRA) balance" 
                help="balPre"
                step="1000" value="400000">
            </labeled-input>
            <labeled-input 
                input-id="subject401kReturnRate" 
                label="Subject 401k return rate (APY %)" 
                help="subject401kReturnRate"
                step="0.1" value="5.5">
            </labeled-input>
            
        </div>
        <div class="grid-2">
            <labeled-input 
                input-id="partner401kBalance" 
                label="Partner (401k/Trad IRA) balance" 
                help="balPre"
                step="1000" value="300000">
            </labeled-input>
            <labeled-input 
                input-id="partner401kReturnRate" 
                label="Partner 401k return rate (APY %)" 
                help="partner401kReturnRate"
                step="0.1" value="5.5">
            </labeled-input>
           
        </div>
        <div class="grid-2">
            <labeled-input 
                input-id="subjectRothBalance" 
                label="Subject Roth balance" 
                help="balRoth"
                step="1000" value="100000">
            </labeled-input>
            <labeled-input 
                input-id="subjectRothReturnRate" 
                label="Subject Roth return rate (APY %)" 
                help="subjectRothReturnRate"
                step="0.1" value="5.5">
            </labeled-input>
        </div>

        <div class="grid-2">
            <labeled-input 
                input-id="partnerRothBalance" 
                label="Partner Roth balance" 
                help="balRoth"
                step="1000" value="100000">
            </labeled-input>
            <labeled-input 
                input-id="partnerRothReturnRate" 
                label="Partner Roth return rate (APY %)" 
                help="partnerRothReturnRate"
                step="0.1" value="5.5">
            </labeled-input>
        </div>
    </div>
</details>