<details data-key="employment">
    <summary>
        <span>👔 Employment</span>
        <span class="chev">▼</span>
    </summary>
    <div class="content">
        <div><h4>Subject</h4></div>
        <div class="grid-3">
            <labeled-input input-id="subjectSalary" label="Current salary ($/yr)" show-help type="number" step="1000"
                value="150000">
            </labeled-input>
            <labeled-input input-id="subjectSalaryGrowth" label="Salary growth (%)" show-help type="number" step="0.1"
                value="3.0">
            </labeled-input>
            <labeled-input input-id="subjectPayrollDeductions" label="Payroll deductions ($/yr)" show-help type="number" step="100"
                value="500">
            </labeled-input>
        </div>
        <div class="grid-2">
            <labeled-input input-id="subjectSavingsMonthly" label="Savings contribution ($/month)" show-help type="number" step="0.1"
                value="200">
            </labeled-input>
            <labeled-input input-id="subjectRothMonthly" label="Roth contribution ($/month)" show-help type="number" step="0.1"
                value="5">
            </labeled-input>
        </div>
        <div class="grid-3">
            <labeled-input input-id="subject401kContribution" 
                label="401k contribution <br> (% of salary)" 
                show-help type="number" step="0.1" value="10">
            </labeled-input>
            <labeled-input 
                input-id="subjectEmpMatchRate" 
                label="Employer match <br>(% of contribution)" 
                show-help type="number" step="1" value="50">
            </labeled-input>
            <labeled-input 
                input-id="subjectEmpMatchCap" 
                label="Employer match cap <br>(% of salary)" 
                show-help
                type="number"
                step="0.1" value="4">
            </labeled-input>
        </div>
        <div>
            <h4>Partner</h4>
        </div>
        <div class="grid-2">
            <labeled-input input-id="partnerSalary" label="Current salary ($/yr)" show-help type="number" step="1000" value="0">
            </labeled-input>
            <labeled-input input-id="partnerSalaryGrowth" label="Salary growth (%)" show-help type="number" step="0.1"
                value="3.0">
            </labeled-input>
        </div>
        <div class="grid-2">
            <labeled-input input-id="partnerSavingsMonthly" label="Savings contribution ($/month)" show-help type="number"
                step="0.1" value="0">
            </labeled-input>
            <labeled-input input-id="partnerRothMonthly" label="Roth contribution ($/month)" show-help type="number" step="0.1"
                value="0">
            </labeled-input>
        </div>
        <div class="grid-3">
            <labeled-input input-id="partner401kContribution" label="401k contribution <br> (% of salary)" show-help
                type="number" step="0.1" value="10">
            </labeled-input>
            <labeled-input input-id="partnerEmpMatchRate" label="Employer match <br>(% of contribution)" show-help type="number"
                step="1" value="50">
            </labeled-input>
            <labeled-input input-id="partnerEmpMatchCap" label="Employer match cap <br>(% of salary)" show-help type="number"
                step="0.1" value="4">
            </labeled-input>
        </div>
    </div>
</details>