<details data-key="partner">
    <summary>
        <span>💍 Partner Information</span>
        <span class="chev">▼</span>
    </summary>
    <div class="content">
        <div class="grid-3">
            <labeled-input 
                input-id="partnerCurrentAge" 
                label="Current age" 
                help="partnerCurrentAge"
                type="number" min="18" max="80" step="1" value="0">
            </labeled-input>
            <labeled-input 
                input-id="partnerRetireAge" 
                label="Retirement age" 
                help="partnerRetireAge"
                type="number" min="40" max="80" step="1" value="67">
            </labeled-input>
            <labeled-input 
                input-id="partnerLifespan" 
                label="Estimated lifespan" 
                help="partnerLifespan"
                type="number" min="40" max="80" step="1" value="67">
            </labeled-input>
        </div>
        <div class="grid-3">
            <labeled-input
                input-id="partner401kStartAge" 
                label="Start 401k at" 
                help="partner401kStartAge"
                type="number" min="59" max="80" step="1" value="62">
            </labeled-input>
            <labeled-input
                input-id="partnerPensionStartAge" 
                label="Start Pension at" 
                help="partnerPensionStartAge"
                type="number" min="55" max="70" step="1" value="65">
            </labeled-input>
            <labeled-input
                input-id="partnerSsStartAge" 
                label="Start Social Security at" 
                help="partnerSsStartAge"
                type="number" min="62" max="110" step="1" value="62">
            </labeled-input>
        </div>

    </div>
</details>