<details data-key="pension">
    <summary>
        <span>⏳ Pensions</span>
        <span class="chev">▼</span>
    </summary>
    <div class="content">
        <div class="pension-section-header">
            <div class="pension-section-title">
                Pensions / Annuities
            </div>
        
            <button id="addPensionBtn" class="add-pension-btn" title="Add Pension/Annuity" aria-label="Add Pension/Annuity">
            +
            </button>
        </div>
    <!-- </div> -->
    <!-- <div class="content"> -->
        <div id="pensionList"></div>
    <!-- </div> -->


    
    <!-- <div class="content"> -->
        <div><strong>Subject</strong></div>
        <div class="grid-3">
            <!-- <labeled-input
                input-id="subjectPensionStartAge" 
                label="Subject Pension Start Age" 
                help="subjectPensionStartAge"
                type="number" min="55" max="70" step="1" value="65">
            </labeled-input>
            <labeled-input
                input-id="partnerPensionStartAge" 
                label="Partner Pension Start Age" 
                help="partnerPensionStartAge"
                type="number" min="55" max="70" step="1" value="65">
            </labeled-input> -->
            <labeled-input
                input-id="subjectPensionMonthly" 
                label="Monthly Income($/mo)" 
                help="subjectPensionMonthly"
                type="number" step="0.1" value="2.0">
            </labeled-input>
            <labeled-input input-id="subjectPensionWithholdingRate" label="Withholding Rate (%)"
                help="subjectPensionWithholdingRate" 
                type="number" step="1" value="15">
            </labeled-input>
            <labeled-input 
                input-id="subjectPensionSurvivorship" 
                label="Survivorship ($/mo)" 
                help="subjectPensionSurvivorship"
                type="number" step="0.1" value="2.0">
            </labeled-input>
            
        </div>
        <div><strong>Partner</strong></div>
        <div class="grid-3">
            <labeled-input
                input-id="partnerPensionMonthly" 
                label="Monthly Income($/mo)" 
                help="partnerPensionMonthly"
                type="number" step="50" value="0">
            </labeled-input>
            <labeled-input input-id="partnerPensionWithholdingRate" label="Withholding Rate (%)"
                help="partnerPensionWithholdingRate" type="number" step="1" value="15">
            </labeled-input>
            <labeled-input
                input-id="partnerPensionSurvivorship" 
                label="Survivorship ($/mo)" 
                help="partnerPensionSurvivorship"
                type="number" step="0.1" value="0">
            </labeled-input>
        </div>
    </div>
</details>