<details data-key="subject">
    <summary>
        <span>👤 Subject Information</span>
        <span class="chev">▼</span>
    </summary>
    <div class="content">
        <div class="grid-3">
            <labeled-input input-id="subjectCurrentAge" 
                label="Current age" 
                help="subjectCurrentAge"
                type="number" min="18" max="80" step="1" value="45">
            </labeled-input>
            <labeled-input input-id="subjectRetireAge" 
                label="Retirement at" 
                help="subjectRetireAge"
                type="number" min="40" max="80" step="1" value="67">
            </labeled-input>
            <labeled-input 
                input-id="subjectLifespan"
                label="Estimated lifespan"
                help="subjectLifespan"
                type="number" min="70" max="110" step="1" value="95">
            </labeled-input>

        </div>
        <div class="grid-3">
            <labeled-input
                input-id="subject401kStartAge" 
                label="Start 401k at" 
                help="subject401kStartAge"
                type="number" min="59" max="80" step="1" value="62">
            </labeled-input>
            <labeled-input
                input-id="subjectPensionStartAge" 
                label="Start Pension at" 
                help="subjectPensionStartAge"
                type="number" min="55" max="70" step="1" value="65">
            </labeled-input>
            <!-- <labeled-input
                input-id="subjectSsStartAge" 
                label="Start Social Security at" 
                help="subjectSsStartAge"
                type="number" min="62" max="110" step="1" value="62">
            </labeled-input> -->
        </div>
    </div>
</details>